cache/
data/
logs/
updates/
.ds_store
.agent.db
Battle.net.dll
Battle.net-64.dll
dbghelp.dll
DivxDecoder.dll
dsound.dll
dsound.ini
dsoundlog.txt
launcher.db
Microsoft.VC80.CRT.manifest
MovieProxy.exe
msvcr80.dll
scan-64.dll
SetupWin.mpq
World of Warcraft Launcher.exe
Wow.exe
WoW.mfil
WoW.pfil
WoW.tfil
wow-2.1.1.1897-enUS-tools-downloader.exe
wow-2.1.1.1897-enUS-tools-patch.exe
Wow-64.exe
WoW-3.2.0.10192-to-3.3.0.10958-enUS-downloader.exe
WOW-3.2.0.10192-to-3.3.0.10958-enUS-patch.exe
*-downloader.exe
*-patch.exe
WowError-64.exe
WowError.exe
oldCache/*
utils/*
BlizzardError.exe
